In [1]:
import pandas as pd
df = pd.read_csv('../data/day.csv', sep=',')
df1 = df[['instant', 'dteday', 'season', 'temp', 'hum', 'windspeed']]

df1.head()

   instant      dteday  season      temp       hum  windspeed
0        1  2011-01-01       1  0.344167  0.805833   0.160446
1        2  2011-01-02       1  0.363478  0.696087   0.248539
2        3  2011-01-03       1  0.196364  0.437273   0.248309
3        4  2011-01-04       1  0.200000  0.590435   0.160296
4        5  2011-01-05       1  0.226957  0.436957   0.186900